In [56]:
import numpy as np
import pandas as pd

In [57]:
data = pd.read_csv("cereal.csv")
data.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912

In [58]:
data.shape

(78, 16)

In [59]:
data["name"].value_counts()

String                    1
Nut&Honey Crunch          1
Puffed Wheat              1
Puffed Rice               1
Product 19                1
                         ..
Froot Loops               1
Double Chex               1
Crispy Wheat & Raisins    1
Crispix                   1
Wheaties Honey Gold       1
Name: name, Length: 78, dtype: int64

**we need to drop the first raw**

In [60]:
data = data.drop(data.index[0])
data.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
5,Almond Delight,R,C,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843

**name column is not necessery**

In [61]:
data = data.drop("name",axis=1)
data.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
5,R,C,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843

In [62]:
types = { "C" :1 , "H":0}

In [63]:
data = data.replace({"type":types})
data.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,N,1,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,Q,1,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,K,1,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,K,1,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
5,R,1,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843

In [64]:
data1 = pd.get_dummies(data["mfr"])
data1.shape

(77, 7)

In [65]:
data2 = pd.concat([data,data1],axis='columns')

In [66]:
data2 = data2.drop("mfr",axis=1)

## **Build the Model**

In [67]:
X = data2.drop("rating",axis=1)
Y = data2["rating"]

In [68]:
from sklearn.model_selection import  train_test_split

X_train, X_test , Y_train , Y_test =train_test_split(X,Y,test_size=0.1)

In [69]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [70]:
def model_acc(model):
    model.fit(X_train,Y_train)
    acc = model.score(X_test,Y_test)
    print(str(model)+" : "+str(acc*100))

In [71]:
LR = LinearRegression()
lasso = Lasso()
DT = DecisionTreeRegressor()
rf = RandomForestRegressor()

model_acc(LR)
model_acc(lasso)
model_acc(DT)
model_acc(rf)

LinearRegression() : 99.99999999999987
Lasso() : 86.0527012917943
DecisionTreeRegressor() : 61.60998158350394
RandomForestRegressor() : 85.08172894433356

**Linear regression has the best accuracy** </br> it has nearly 100% so no need to tune

In [73]:
pre = LR.predict(X_test)
pre

array([26.73451541, 21.87129225, 64.53381731, 50.76499866, 53.13132307,
       33.17409429, 19.82357273, 68.40297277])